/* CONSTANT CSS */
:root {
    /* Couleurs */
    --color-body: #0b132b; /* Bleu nuit très sombre */
    --color-text: #e0e1dd; /* Gris clair doux */
    --color-title: linear-gradient(to right, #4369c1, #c864ed); /* Dégradé bleu sombre vers noir */
    --color-card: #1c2541; /* Bleu ardoise pour les cartes */
    --color-card-text: #e0f2f1; /* Blanc cassé légèrement verdâtre */
  
    /* Tailles de police */
    --font-size-title: 22px;
    --size-text: 18px;
  }
  

  /* :root {
    --color-body: #121212; 
    --color-text: #f1f1f1;
    --color-title: linear-gradient(to right, #4369c1, #c864ed);
    --color-card: #1e1e1e; 
    --color-card-text: #ff6f61;
    --font-size-title: 20px;
    --size-text: 18px;
  } */
  
  
  
  
  

  body {
    background-color: var(--color-body);
}



/* NAVBAR */
#title {
    background-image: var(--color-title) ;
    background-clip: text;
    color: transparent;
    font-weight: bolder;
    font-size: 35px;
    margin-right: 50px;
    margin-left: 10px;
}

.nav-link {
    color: var(--color-text);
    ;
    margin-right: 5px;

    
}

.nav-link:hover {
    color: var(--color-text);
    border-bottom: solid 2px var(--color-text);
}

/* MAIN CONTAINER */
.main-container {
    padding-top: 30px;

}

/* FILTRES */
.card-filter {
    background-color: var(--color-card);
    color: var(--color-text);
}

.card-header-filter {
    font-weight: bolder;
    border-bottom: solid 2px grey
}

.svg-star {
    color: var(--color-text);
}

.filter-title {
    background-image: var(--color-title)!important;
    background-clip: text;
    color: transparent;
    font-size: var(--font-size-title);
}




/* RESULTS */
.btn-card {
    background-image: var(--color-title) ;
    color: var(--color-card-text);
}

.btn-filter {
    background-image: var(--color-title) ;
    color: var(--color-card-text);
    text-align: center;
}

.btn-filter:hover {
    color: var(--color-card-text);

}

.card-result {
    background-color: var(--color-card);
    color: var(--color-text);
    transition: transform 0.3s ease, box-shadow 0.3s ease; 
    transform-style: preserve-3d; 
 
}


  .card-result:hover {
    transform: scale(1.02) translateZ(30px);
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.15);
  }



.fixed-size-img {
    width: 70px;
    height: 70px; 
    object-fit: contain; 
  }

  .card-body-result {
    height: 100px;
  }
  
  .card-footer-result {
    height: 50px;
  } 

  .rounded-pill {
    background-color: rgb(63, 63, 79);
    color: var(--color-text)

  }
  
  

