/* CONSTANT CSS */
:root {
    /* Couleurs */
    --color-body: #0b132b; /* Bleu nuit très sombre */
    --color-text: #e0e1dd; /* Gris clair doux */
    --color-title: linear-gradient(to right, #4369c1, #c864ed); /* Dégradé bleu sombre vers noir */
    --color-card: #1c2541; /* Bleu ardoise pour les cartes */
    --color-card-text: #e0f2f1; /* Blanc cassé légèrement verdâtre */
  
    /* Tailles de police */
    --font-size-title: 22px;
    --size-text: 18px;
  }
  

  /* :root {
    --color-body: #121212; 
    --color-text: #f1f1f1;
    --color-title: linear-gradient(to right, #4369c1, #c864ed);
    --color-card: #1e1e1e; 
    --color-card-text: #ff6f61;
    --font-size-title: 20px;
    --size-text: 18px;
  } */
  
  
  
  
  

  body {
    background-color: var(--color-body);
}







  

