
.fixed-filter {
    position: fixed;
    z-index: 1000;
  }
  

  .badge-number-total {
    position: fixed;
    width: 350px;
    padding: 10px;
    left:50%;
    transform: translate(-50%, -50%);
    top: 800px;
    z-index: 10;
    font-size: 15px;
    background-image: var(--color-title) ;
    color: var(--color-card-text);
    text-align: center;
  }

  #number-result {
    margin-right: 5px;
    padding: 5px;
  }

.modal-content {
    background-color: var(--color-body);
  }

  .modal-header, .btn-close {
    color: var(--color-text);
  }