.badge {
    border: solid 2px rgb(136, 135, 136);
    background-color: var(--color-body);
}

.btn-card {
    background-image: var(--color-title) ;
    color: var(--color-card-text);
}

.btn-filter {
    background-image: var(--color-title) ;
    color: var(--color-card-text);
    text-align: center;
}

.btn-filter:hover {
    color: var(--color-card-text);

}

.card-result {
    background-color: var(--color-card);
    color: var(--color-text);
    transition: transform 0.3s ease, box-shadow 0.3s ease; 
    transform-style: preserve-3d; 
 
}


  .card-result:hover {
    transform: scale(1.02) translateZ(30px);
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.15);
  }



.fixed-size-img {
    width: 60px;
    height: 60px; 
    object-fit: contain; 
  }

  .card-body-result {
    height: 100px;
  }
  
  .card-footer-result {
    height: 50px;
  } 

  .rounded-pill {
    background-color: rgb(63, 63, 79);
    color: var(--color-text)

  }
  

/* Position par défaut pour les écrans grands (lg et plus) */
#loading-spinner {
    position: fixed;
    top: 40%;
    left: 60%;
  }
  
  /* Position différente pour les écrans petits (moins de 992px) */
  @media (max-width: 991.98px) {
    #loading-spinner {
      position: fixed;
      top: 20%;
      left: 50%;
      z-index: 1000;

    }
  }
  